<mat-toolbar>
  <span>{{title}}</span>

  <span class="toolbar-spacer"></span>

  <div class="filters">
    <mat-checkbox *ngIf="isUserLoggedIn() && !isMinimal" checked (change)="onCheckboxChange($event.checked)">Show only my
      notes</mat-checkbox>
    <mat-form-field style="margin-bottom: -1.25em">
      <mat-icon matPrefix>search</mat-icon>
      <input #textInput type="text" matInput (input)="onTextFilterChange(textInput.value)" />
    </mat-form-field>
  </div>
</mat-toolbar>

<div *ngIf="notes$ | async as notes; else loading" class="flex-col flex-fill">
  <app-note-list [notes]="notes" (select)="select.emit($event)" class="flex-fill"></app-note-list>
  <mat-paginator [pageIndex]="paging.page - 1" [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions"
    [length]="paging.totalCount" (page)="onPagingChanged($event)"></mat-paginator>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
