
<div *ngIf="template$ | async as template; else loading" class="flex-fill flex-col">
  <mat-toolbar>
    <mat-icon class="toolbar-icon">library_books</mat-icon>
    <span>{{template.name}}{{isDirty() ? '*' : ''}}</span>
    <button mat-icon-button [disabled]="!isDirty()" (click)="save()" matTooltip="Save" color="accent">
      <mat-icon>save</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <button mat-icon-button (click)="openEditDialog()" matTooltip="Options">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="viewModeMenu">
      <span>{{getMode() | editorModeName}}</span>
      <mat-icon>{{getMode() | editorModeIcon}}</mat-icon>
    </button>
  </mat-toolbar>

  <app-preview-editor class="editor"></app-preview-editor>
</div>

<mat-menu #viewModeMenu>
  <ng-template matMenuContent>
    <button mat-menu-item (click)="setMode('edit')"><mat-icon>edit</mat-icon>Edit</button>
    <button mat-menu-item (click)="setMode('preview')"><mat-icon>vertical_split</mat-icon>Edit with preview</button>
    <button mat-menu-item (click)="setMode('readonly')"><mat-icon>visibility</mat-icon>Read</button>
  </ng-template>
</mat-menu>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
