<mat-toolbar >
  <h1>My workspaces</h1>
  <button mat-button (click)="openWorkspaceDialog()">Add <mat-icon>plus</mat-icon></button>
</mat-toolbar>

<div class="list">
  <mat-card *ngFor="let workspace of workspaces$ | async">

    <mat-card-header>
      <mat-card-title>{{ workspace.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">
      <button mat-raised-button color="accent" class="open-button">Open <mat-icon>folder_open</mat-icon></button>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-button (click)="openWorkspaceDialog(workspace)">Edit <mat-icon>edit</mat-icon></button>
      <button mat-button color="warn" (click)="openDeleteDialog(workspace)">Delete <mat-icon>delete</mat-icon></button>
    </mat-card-actions>

  </mat-card>

</div>
