:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  margin: 10px;
}

.justify-center {
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px
}

.form-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider {
  min-width: 50%;
  margin: 20px 0;
}
