<div *ngIf="note$ | async as note; else loading" class="flex-fill flex-col">
  <mat-toolbar *ngIf="!note.isReadonly">
    <mat-icon class="toolbar-icon">note</mat-icon>
    <span>{{note.name}}{{isDirty() ? '*' : ''}}</span>
    <button mat-icon-button [disabled]="!isDirty()" (click)="save()" matTooltip="Save">
      <mat-icon>save</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <button mat-icon-button (click)="openEditDialog()" matTooltip="Options">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-button *ngIf="!note.isReadonly" [matMenuTriggerFor]="viewModeMenu">
      <span>{{getMode() | editorModeName}}</span>
      <mat-icon>{{getMode() | editorModeIcon}}</mat-icon>
    </button>
    <button mat-icon-button (click)="relatedDrawer.toggle()"
      matTooltip="Related notes"><mat-icon>link</mat-icon></button>
  </mat-toolbar>

  <mat-toolbar *ngIf="note.isReadonly" class="toolbar">
    <mat-icon>note</mat-icon>
    <span>{{note.name}}</span>
  </mat-toolbar>

  <mat-drawer-container autosize class="flex-fill">
    <mat-drawer #relatedDrawer mode="side" position="end" class="related-drawer">
      <div class="related-drawer-content">
        <div class="related-notes-header">
          <h1>Related notes</h1>
          <button mat-icon-button (click)="openAddRelatedDialog()" matTooltip="Add"><mat-icon>add</mat-icon></button>
        </div>
        <mat-divider></mat-divider>
        <mat-list *ngIf="!!note.related">
          <mat-list-item *ngFor="let related of note.related">
            <span matListItemTitle>{{related.name}}</span>
            <div matListItemMeta>
              <button mat-button (click)="navigateToNote(related.id)">Open</button>
              <button mat-button (click)="removeRelatedNote(related)"><mat-icon>remove</mat-icon>Remove</button>
            </div>
          </mat-list-item>
        </mat-list>

        <div *ngIf="!note.related">No related notes</div>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <app-preview-editor class="editor"></app-preview-editor>
    </mat-drawer-content>
  </mat-drawer-container>

</div>

<mat-menu #viewModeMenu>
  <ng-template matMenuContent>
    <button mat-menu-item (click)="setMode('edit')"><mat-icon>edit</mat-icon>Edit</button>
    <button mat-menu-item (click)="setMode('preview')"><mat-icon>vertical_split</mat-icon>Edit with preview</button>
    <button mat-menu-item (click)="setMode('readonly')"><mat-icon>visibility</mat-icon>Read</button>
  </ng-template>
</mat-menu>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
