<div *ngIf="getNote() | async as note; else loading" class="flex-fill flex-col">
  <mat-toolbar *ngIf="!note.isReadonly">
    <button mat-icon-button (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
    </button>
    <span>{{note.name}}{{isDirty() ? '*' : ''}}</span>
    <button mat-icon-button [disabled]="!isDirty()" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <span>{{getCurrentModeText()}}</span>
    <button mat-icon-button *ngIf="!note.isReadonly" [matMenuTriggerFor]="viewModeMenu"><mat-icon>settings</mat-icon></button>
  </mat-toolbar>

  <mat-toolbar *ngIf="note.isReadonly" class="toolbar">
    <span>{{note.name}}</span>
  </mat-toolbar>

  <ng-container [ngSwitch]="getMode()">
    <div *ngSwitchCase="'edit'" class="editor-wrapper">
      <app-editor-field class="editor-container"></app-editor-field>
    </div>

    <div *ngSwitchCase="'preview'" class="editor-wrapper">
      <app-editor-field class="editor-container"></app-editor-field>
      <mat-divider [vertical]="true"></mat-divider>
      <app-editor-preview class="preview-container"></app-editor-preview>
    </div>

    <div *ngSwitchCase="'readonly'" class="editor-wrapper">
      <app-editor-preview class="preview-container"></app-editor-preview>
    </div>
  </ng-container>
</div>

<mat-menu #viewModeMenu>
  <ng-template matMenuContent>
    <button mat-menu-item (click)="setMode('edit')"><mat-icon>edit</mat-icon>Edit</button>
    <button mat-menu-item (click)="setMode('preview')"><mat-icon>vertical_split</mat-icon>Edit with preview</button>
    <button mat-menu-item (click)="setMode('readonly')"><mat-icon>visibility</mat-icon>Read only</button>
  </ng-template>
</mat-menu>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
