<div *ngIf="paramsResult$ | async as paramsResult; else loading" class="result-wrapper">
  <div *ngIf="result$ | async as result; else passwordForm">
    <div *ngIf="result.success" class="msg-wrapper">
      <h1>{{paramsResult.message}}</h1>
      <a mat-raised-button routerLink="{{routes.login}}" color="primary">Login</a>
    </div>
    <div *ngIf="!result.success">
      <h1>{{paramsResult.message}}</h1>
    </div>
  </div>

  <ng-template #passwordForm>
    <div *ngIf="paramsResult.success" class="form-wrapper" [formGroup]="form">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input type="password" formControlName="passwordConfirmation" matInput required />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmit()">Register</button>
    </div>
    <div *ngIf="!paramsResult.success" class="msg-wrapper">
      <h1>{{paramsResult.message}}</h1>
    </div>
  </ng-template>
</div>


<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
