<mat-tree [dataSource]="treeController.dataSource" [treeControl]="treeController.treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="TREE_PADDING">
    <button mat-icon-button disabled></button>
    <span>{{ node.item.name }}</span>
    <button mat-icon-button [matMenuTriggerFor]="nodeMenu" [matMenuTriggerData]="{ node }">
      <mat-icon class="menu-icon">more_horiz</mat-icon>
    </button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: treeController.hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="TREE_PADDING">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeController.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{ node.item.name }}
    <button mat-icon-button [matMenuTriggerFor]="nodeMenu" [matMenuTriggerData]="{ node }">
      <mat-icon class="menu-icon">more_horiz</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>

<mat-menu #nodeMenu>
  <ng-template matMenuContent let-node="node">
    <button *ngFor="let item of getMenuItems(node)" mat-menu-item
      (click)="onMenuAction(node, item.type)">{{ item.label }}</button>
  </ng-template>
</mat-menu>
