<mat-card class="form" color="">
  <mat-card-title>Log in</mat-card-title>

  <mat-card-content [formGroup]="form" class="form">
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput />
      </mat-form-field>
    </p>
    <button mat-button (click)="login()">Log in</button>
  </mat-card-content>

</mat-card>
