<mat-toolbar color="primary" class="toolbar mat-elevation-z8">
  <a mat-flat-button routerLink="/" color="primary">
    <mat-icon>home</mat-icon>
  </a>

  <div *ngFor="let item of getItems()">
    <a *ngIf="!isCurrentRoute(item.link); else currentRoute" mat-button routerLink="{{ item.link }}">{{ item.label }}</a>
    <ng-template #currentRoute>
      <a mat-stroked-button class="current-route" routerLink="{{ item.link }}">{{ item.label }}</a>
    </ng-template>
  </div>

  <span class="toolbar-spacer"></span>

  <div *ngIf="isUserLoggedIn(); else elseBlock">
    <span>{{ username$ | async }}</span>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <ng-template #elseBlock>
    <a mat-button routerLink="login">Login</a>
  </ng-template>
</mat-toolbar>
