.header {
  height: 3rem;
}

.icon {
  vertical-align: middle;
}

.username {
  font-size: 14px;
  margin-right: 10px;
}

.logo {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-family: "Fredoka One";
  font-size: 24px;
  margin-left: 20px;
}
