.workspace-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: center;
}

.open-button {
  width: 75%;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  margin-bottom: 10px;
  gap: 10px;
}
