@import 'src/theme.scss';

.browser-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  row-gap: 8px;
}

.item-icon {
  transform: scale(2);
}

.browser-item-button {
  padding-top: 10px;
}

.selected-item {
  background-color: mat-color($primary);
}
