@import 'src/theme.scss';

$primary: map-get($theme, primary);

:host {
  height: 100%;
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.browser-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browser-item-button {
  padding-top: 10px;
}

.selected-item {
  border: 1px solid mat-color($primary);
}
