<div *ngIf="workspace$ | async as workspace; else loading" class="wrapper">
  <app-browser-toolbar [workspace]="workspace"></app-browser-toolbar>

  <div id="items-container" *ngIf="items$ | async as items; else loading" class="items-container"
    (click)="handleContainerClick($event)">
    <div *ngFor="let item of items">
      <app-browser-tile [item]="item"></app-browser-tile>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
