:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.disabled-nav {
  cursor: not-allowed;
}

.sidenav {
  min-width: 100px;
}
