<app-header (sidenavToggle)="layout.toggleNavbar()"></app-header>

<mat-sidenav-container class="flex-fill flex-col" autosize>
  <mat-sidenav #sidenav mode="side" [opened]="layout.isNavbarOpened()" class="sidenav">
    <mat-nav-list *ngIf="isUserLoggedIn(); else loginNavList">
      <div mat-subheader class="navbar-subheader"><mat-icon class="subheader-icon">note</mat-icon>Notes</div>
      <mat-list-item routerLink="{{routes.workspaceBrowser}}" [ngClass]="getRouteClass(routes.workspaceBrowser)">Browse
        notes</mat-list-item>
      <mat-list-item routerLink="{{routes.workspaceSearch}}" [ngClass]="getRouteClass(routes.workspaceSearch)">Search
        notes</mat-list-item>

      <div mat-subheader class="navbar-subheader"><mat-icon class="subheader-icon">library_books</mat-icon>Templates
      </div>
      <mat-list-item routerLink="{{routes.templateSearch}}" [ngClass]="getRouteClass(routes.templateSearch)">Search
        templates</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-wrapper">
    <div class="content-sizer">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-template #loginNavList>
  <mat-nav-list>
    <mat-list-item routerLink="{{routes.login}}" [ngClass]="getRouteClass(routes.login)">Log in</mat-list-item>
    <mat-list-item routerLink="{{routes.workspaceSearch}}" [ngClass]="getRouteClass(routes.workspaceSearch)">Search
      public notes</mat-list-item>
  </mat-nav-list>
</ng-template>
