<div>
  <mat-action-list *ngIf="folder$ | async as folder; else loading">
    <span matSubheader>Folders</span>
    <div >
      <mat-list-item *ngFor="let child of folder.children" (click)="onFolderClick(child)" [activated]="isSelected(child.id)">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{child.name}}</div>
        <div matListItemLine>{{(child.updated ?? folder.created) | date:'d MMM y, h:mm a'}}</div>
      </mat-list-item>
    </div>

    <span matSubheader>Notes</span>
    <mat-list-item *ngFor="let note of folder.notes" (click)="onNoteClick(note)" [activated]="isSelected(note.id)">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{note.name}}</div>
      <div matListItemLine>{{(note.updated ?? note.created) | date:'d MMM y, h:mm a'}}</div>
    </mat-list-item>
  </mat-action-list>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate" style="margin: 5rem;"></mat-progress-bar>
</ng-template>
