<div>
  <mat-nav-list *ngIf="folder$ | async as folder; else loading">
    <div mat-subheader>Folders</div>
    <mat-list-item *ngFor="let child of folder.children">
      <mat-icon matListItemIcon (click)="navigateDown(child.id)">folder</mat-icon>
      <div matListItemTitle (click)="navigateDown(child.id)">{{child.name}}</div>
      <div matListItemLine (click)="navigateDown(child.id)">
        {{(child.updated ?? folder.created) | date:'d MMM y, h:mm a'}}
      </div>
      <div matListItemMeta>
        <button mat-icon-button [matMenuTriggerFor]="folderMenu" [matMenuTriggerData]="{ folder: child }">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>

    <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of folder.notes">
      <mat-icon matListItemIcon [routerLink]="getNoteRoute(note.id)">note</mat-icon>
      <div matListItemTitle [routerLink]="getNoteRoute(note.id)">{{note.name}}</div>
      <div matListItemLine [routerLink]="getNoteRoute(note.id)">
        {{(note.updated ?? note.created) | date:'d MMM y, h:mm a'}}
      </div>
      <div matListItemLine>
        <span>Tags: {{note.tags.length > 0 ? note.tags : 'None'}}</span>
      </div>
      <div matListItemMeta>
        <button mat-icon-button [matMenuTriggerFor]="noteMenu" [matMenuTriggerData]="{ note }">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>

<mat-menu #folderMenu>
  <ng-template matMenuContent let-folder="folder">
    <button mat-menu-item (click)="editFolder(folder)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="removeFolder(folder)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #noteMenu>
  <ng-template matMenuContent let-note="note">
    <button mat-menu-item (click)="editNote(note)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="removeNote(note)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
