<div *ngIf="folder$ | async as folder; else loading">
  <mat-nav-list>
    <div mat-subheader>Folders</div>
    <mat-list-item *ngFor="let child of folder.children">
      <mat-icon matListItemIcon (click)="navigateDown(child.id)">folder</mat-icon>
      <div matListItemTitle (click)="navigateDown(child.id)">{{child.name}}</div>
      <div matListItemLine (click)="navigateDown(child.id)">
        {{(child.updated ?? folder.created) | formatDate}}
      </div>
      <div matListItemMeta>
        <button mat-icon-button [matMenuTriggerFor]="folderMenu" [matMenuTriggerData]="{ folder: child }">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>
  </mat-nav-list>

  <div mat-subheader>Notes</div>
  <app-note-list [notes]="folder.notes" (select)="onNoteSelect($event)"></app-note-list>
</div>

<mat-menu #folderMenu>
  <ng-template matMenuContent let-folder="folder">
    <button mat-menu-item (click)="editFolder(folder)">
      <mat-icon>settings</mat-icon>
      <span>Options</span>
    </button>
    <button mat-menu-item (click)="removeFolder(folder)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
