/* You can add global styles to this file, and also import other style files */

@import '~codemirror/lib/codemirror.css';

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1 1 auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex-fill-h {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
